# Pivot Table for Sales

In [10]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_excel("/home/vrushali/Desktop/Practical Questions (AI)/SaleData-1.xlsx")
table = pd.pivot_table(df,index=["Region","Manager","SalesMan"], values="Sale_amt")
print(table)

                               Sale_amt
Region  Manager SalesMan
Central Douglas John       41338.666667
        Hermann Luis       41274.600000
                Shelli      8424.500000
                Sigal      41679.166667
        Martha  Steven     49922.500000
        Timothy David      28191.000000
East    Douglas Karen      16068.000000
        Martha  Alexander  29587.875000
                Diana      18050.000000
West    Douglas Michael    33418.000000
        Timothy Stephen    22015.750000

In [6]:
print(pd.pivot_table(df,index=["Region","Item"],values="Units",aggfunc=np.sum))

                      Units
Region  Item
Central Cell Phone     27.0
        Desk            7.0
        Home Theater  424.0
        Television    498.0
        Video Games   243.0
East    Cell Phone    175.0
        Home Theater  234.0
        Television    130.0
        Video Games   152.0
West    Cell Phone     76.0
        Desk            3.0
        Home Theater   64.0
        Television     88.0

In [7]:
table= pd.pivot_table(df,index=["Manager","SalesMan"],values=["Units","Sale_amt"],aggfunc=[np.sum],fill_value=0,margins=True)
print(table)

                         sum
                    Sale_amt Units
Manager SalesMan
Douglas John        124016.0   156
        Karen        48204.0   170
        Michael      66836.0    89
Hermann Luis        206373.0   281
        Shelli       33698.0   193
        Sigal       125037.5   173
Martha  Alexander   236703.0   396
        Diana        36100.0   125
        Steven      199690.0   183
Timothy David       140955.0   213
        Stephen      88063.0   142
All                1305675.5  2121

In [9]:
table = pd.pivot_table(df,index=["Region","Manager","SalesMan"], values="Sale_amt")
print(table.query('Manager == ["Timothy"]'))

                          Sale_amt
Region  Manager SalesMan
Central Timothy David     28191.00
West    Timothy Stephen   22015.75